@font-face {
    font-family: 'Chonburi';
    src: url('../fonts/Chonburi/Chonburi-Regular.ttf') format('truetype'), url('../fonts/Chonburi/chonburi-regular-webfont.ttf') format('truetype'), url('../fonts/Chonburi/chonburi-regular-webfont.eot?#iefix') format('embedded-opentype'), url('../fonts/Chonburi/chonburi-regular-webfont.woff2') format('woff2'), url('../fonts/Chonburi/chonburi-regular-webfont.woff') format('woff'), url('../fonts/Chonburi/chonburi-regular-webfont.svg#Chonburi') format('svg');
    font-weight: normal;
    font-style: normal;
}
  @font-face {
    font-family: "TATSanaChon";
    src: url('../fonts/TAT/TATSANA CHON-REG.TTF');
    src: url('../fonts/TAT/TATSanaChon-Regular.eot');
    src: url('../fonts/TAT/TATSanaChon-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TAT/TATSanaChon-Regular.woff2') format('woff2'), url('../fonts/TAT/TATSanaChon-Regular.woff') format('woff');
}
  @font-face {
    font-family: "TATSanaSuksa";
    src: url('../fonts/TAT/TATSANA SUKSA-REG.TTF');
    src: url('../fonts/TAT/TATSanaSuksa-Regular.eot');
    src: url('../fonts/TAT/TATSanaSuksa-Regular.eot?#iefix') format('embedded-opentype'), url('../fonts/TAT/TATSanaSuksa-Regular.woff2') format('woff2'), url('../fonts/TAT/TATSanaSuksa-Regular.woff') format('woff');
}
  @font-face {
    font-family: "TATSanaSuksaBold";
    src: url('../fonts/TAT/TATSANA CHON-BLD.TTF');
    src: url('../fonts/TAT/TATSanaChon-Bold.eot');
    src: url('../fonts/TAT/TATSanaChon-Bold.eot?#iefix') format('embedded-opentype'), url('../fonts/TAT/TATSanaChon-Bold.woff2') format('woff2'), url('../fonts/TAT/TATSanaChon-Bold.woff') format('woff');
}

* {
    box-sizing: border-box;
}

body { 
    margin: 0;
    font-family: 'TATSanaChon';
}

.aNavbar {
    position: relative;
    display: block;
    text-decoration: none;
    color: #333;
    font-size: 14px;
    font-weight: bold;
    transition-duration: .25s;
}

.aNavbar:hover {
    color: #0056b3;
}

.aNavbar:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 6px;
    bottom: -14px;
    left: 0;
    background-color: #213A8F;
    visibility: hidden;
    -webkit-transform: scaleX(0);
    transform: scaleX(0);
    -webkit-transition: all 0.3s ease-in-out 0s;
    transition: all 0.3s ease-in-out 0s;
}

.aNavbar:hover:after {
    visibility: visible;
    -webkit-transform: scaleX(1);
    transform: scaleX(1);
}

.banner {
    display: flex;
    padding-top: 60px;
    width: 100%;
    background-color: #ccc;
}

.heroImg {
    position: relative;
    width: 33.3333333333%;
    height: 350px;
    background-size: cover !important;
}

.heroImg img {
    position: absolute;
    display: block;
    top: 50%;
    left: 50%;
    width: 240px;
    transform: translate(-50%, -50%);
}

.heroImg.he1 {
    background: url(https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-left.png) no-repeat;
}

.heroImg.he2 {
    background: url(https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-center.png) no-repeat;
}

.heroImg.he3 {
    background: url(https://www.xn--b3caa1e2a7e2b0h2be.com/img/hero_banner/banner-right.png) no-repeat;
}

.containerRegister {
    margin: 26px 0px;
    width: 100%;
    height: 179px;
    text-align: center;
    font-family: TATSanaSuksaBold;
}

.containerRegister h1 {
    color: #E6332A;
    margin: -10px 0 0;
    font-size: 48px;
}

.containerRegister p {
    margin: 0;
}

.containerRegister .btnRegister {
    font-family: TATSanaSuksaBold;
    color: #fff;
    border-radius: 5px;
    box-shadow: 0 15px 30px 0 rgba(28, 78, 132, 0.4);
    background-color: #213A8F;
    font-size: 24px;
    margin: 10px 0px;
    width: 900px;
    padding: 10px;
    transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
    border: 1px solid transparent;
}

.containerRegister .btnRegister:hover {
    background-color: #FBBC33;
    box-shadow: none;
    cursor: pointer;
}

.containerRegister a hr {
    margin-top: -3%;
    margin-bottom: 1rem;
    border: 0;
    border-top: 1px solid rgba(0,0,0,.1);
}

.ContainerDetail {
    margin: 130px 0 0;
}

.ContainerDetail .box-contain {
    margin: 0 auto;
    padding: 0 15px;
    display: block;
    max-width: 1140px;
    width: 100%;
}

.ContainerDetail .box-contain h1 {
    font-family: TATSanaSuksaBold;
    font-size: 36px;
    color: #E6332A;
}

.ContainerDetail .box-contain .detail {
    font-family: TATSanaSuksa;
    font-size: 18px;
}

.BoxTAT {
    margin: 150px 0px;
    width: 100%;
    padding: 0 15px;
}

.BoxTAT .box-detail {
    margin: 0 auto;
    display: block;
    max-width: 1140px;
    width: 100%;
    display: flex;
    justify-content: space-around!important;
}

.BoxTAT .box-detail .item {
    display: inline-block;
}

.BoxTAT .box-detail .item img {
    width: 350px;
}

.BoxKTC {
    margin: 100px 0px;
    width: 100%;
    padding: 0 15px;
}

.BoxKTC .box-detail {
    margin: 0 auto;
    display: block;
    max-width: 1140px;
    width: 100%;
}

.BoxKTC .box-detail .imgList {
    display: flex;
    justify-content: space-around!important;
}

.BoxKTC .box-detail .imgList img {
    width: 102px;
}

.BoxKTC .box-detail .imgList img:hover {
    cursor: pointer;
    transform: scale(1.2);
    transition: all 0.55s ease-in-out;
}

.Footer .ft1 {
    padding: 30px;
    width: 100%;
    height: 212px;
    background-color: #FAFAFA;
}

.Footer .ft1 .box-detail {
    margin: 0 auto;
    display: block;
    max-width: 1140px;
    width: 100%;
    height: 100%;
}

.Footer .ft1 .box-detail .flexContent {
    display: flex;
}

.Footer .ft1 .box-detail .flexContent .col {
    padding: 0 15px;
    width: 25%;
    font-family: 'TATSanaSuksa';
}

.Footer .ft1 .box-detail .flexContent .col .logo {
    width: 108px;
}

.Footer .ft1 .box-detail .flexContent .col .head {
    font-weight: bold;
    color: #E6332A;
    margin-top: 24px;
    font-size: 16px;
}

.Footer .ft1 .box-detail .flexContent .col .detail {
    color: #333333;
    line-height: 1.8;
    font-size: 14px;
}

.Footer .ft1 .box-detail .flexContent .col .detail a {
    text-decoration: none;
    color: #333333;
}

.Footer .ft2 {
    width: 100%;
    font-family: 'TATSanaSuksaBold';
    background-color: #213A8F;
    color: #fff;
}

.Footer .ft2 .box-detail {
    margin: 0 auto;
    padding: 0 15px;
    display: block;
    max-width: 1140px;
    width: 100%;
    height: 100%;
}

.Footer .ft2 .box-detail .flexContent .copyright {
    margin: 0;
    padding: 0.5rem 1rem;
    padding-left: 0px;
    font-size: 14px;
    display: inline-block;
}

.Footer .ft2 .box-detail .flexContent ul {
    margin: 0;
    padding: 0;
    list-style-type: none;
    width: 80%;
    display: flex;
    text-align: center;
    float: right;
}

.Footer .ft2 .box-detail .flexContent ul li {
    display: inline-block;
    width: 33.3333333%;
}

.Footer .ft2 .box-detail .flexContent ul li a {
    display: block;
    padding: .5rem 1rem;
    color: white;
    font-size: 14px;
    text-decoration: none;
    color: #fff;
}